@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div id="logreg-forms">      
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <h1 class="h3 mb-3 font-weight-normal text-primary" style="text-align:Center;">Sign In</h1>
        <div class="social-login pb-0 mb-0">
            @foreach (var provider in Model.ExternalLogins)
                {
                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                }
        </div>
    </form>
    <form  id="account" method="post">
        @if (Model.ExternalLogins?.Count > 0)
        {
            <p style="textalign-content:center"> OR </p>
        }
            <input asp-for="Input.Email" placeholder="Email..." type="email" class="mb-1 form-control" autocomplete="username" aria-required="true" />
            <input asp-for="Input.Password" placeholder="Password..." type="password" class="form-control" autocomplete="current-password" aria-required="true" />
            <button id="login-submit" type="submit" class="w-100 btn btn-success"><i class="bi bi-box-arrow-in-right"></i> Log in</button>

             <a id="forgot-password" class="pb-2 text-info" asp-page="./ForgotPassword">Forgot your password?</a>
             <a id="resend-confirmation" class="btn-link text-info" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
        <div asp-validation-summary="All" class="text-danger"></div>
             <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"
             class="btn btn-primary"><i class="bi bi-person-plus"></i> Register as a new user</a>

    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
